.intro {
  margin-bottom: 30px;
  color: #141c3a;
  a {
    color: #a4cacb;
  }
  .icon {
    font-size: 60pt;
    margin-bottom: 30px;
    color: #a4cacb;
  }
  .name {
    font-size: 3rem !important;
    font-weight: 800;
  }
  .role {
    font-size: 18pt;
    margin-bottom: 40px;
  }
  .profile {
    height: 300px;
    margin-left: 230px;
    width: auto;
    margin-bottom: 50px;
  }
  .mobileprofile {
    height: 400px;
    width: auto;
    margin-bottom: 50px;
  }
  .who {
    font-size: 18pt;
    margin-bottom: 30px;
  }
}
