.desktop-intro {
  color: #141c3a;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white !important;
  a {
    color: #84cee2;
  }
  .icon {
    font-size: 40pt;
    color: #84cee2;
    position: absolute;
    left: 50px;
    top: 30px;
  }
  .text-column {
    padding: 1em 3em 1em;
  }
  .name-role {
    display: flex;
    flex-direction: column;
    text-align: center;
    .name {
      font-size: 3rem !important;
    }
    .role {
      font-size: 18pt;
    }
    margin-bottom: 2%;
  }
  .intro-description {
    margin-top: 10em;
    .who {
      font-size: 18pt;
      margin-bottom: 1em;
    }
  }
}

.mobile-intro {
  color: #141c3a;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2% 10% 4%;

  a {
    color: #84cee2;
  }
  .icon {
    font-size: 25pt;
    color: #84cee2;
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .name-role {
    .name {
      font-size: 22pt;
      font-weight: 600;
    }
    .role {
      font-size: 13pt;
    }
  }
  .intro-description {
    .who {
      font-size: 15pt;
      font-weight: 600;
    }
    .bio {
      font-size: 11pt;
    }
  }
}
