.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .icon {
    font-size: 40pt;
    color: #84cee2;
  }
  .contact {
    display: block;
    color: #84cee2;
    font-weight: 800;
    font-size: 16pt;
  }
  .contact:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
