.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5% 2% 5%;
}

.contact > .btn,
.contact > .btn-secondary {
  background-color: #fff;
  color: #7fda57;
  font-weight: 600;
  border: 1px solid #7fda57;
  border-radius: 10px;
}

.contact > .btn:hover {
  border: 1px solid #7fda57;
  background-color: #7fda57;
}
