.projects-container {
  color: #fff;
  background: linear-gradient(#a4cacb 30%, #fff 70%);
  text-align: center;
  height: 100%;
  padding-top: 3%;
  h1 {
    margin-bottom: 2%;
  }
  .body-text {
    margin-bottom: 3%;
  }
  .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #000;
    .individual-project {
      width: 48%;
      height: 330px;
      border-radius: 15px;
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff;
      position: relative;
      cursor: pointer;
      .project-description {
        height: 100%;
        width: 100%;
        border-radius: 15px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
        transition: background-color 350ms ease;
        background-color: transparent;
        padding: 20px 20px 0 20px;
        box-sizing: border-box;
        .hover {
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: opacity 350ms ease;
          padding: 4%;
          h2 {
            margin-bottom: 6%;
            margin-top: -4%;
            color: #fff;
            transform: translate3d(0, 50px, 0);
            transition: transform 350ms ease;
          }
          p {
            transform: translate3d(0, 50px, 0);
            transition: transform 350ms ease;
          }
        }
      }
      .project-description:hover {
        background-color: rgba(0, 0, 0, 1);
      }
      .hover:hover {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
}
