.desktop-projects {
  color: #fff;
  background: linear-gradient(#84cee2 30%, #fff 70%);
  text-align: center;
  height: 100%;
  padding: 3% 3% 1%;
  h1 {
    margin-bottom: 2%;
  }
  .body-text {
    margin-bottom: 3%;
  }
  .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #000;
    .individual-project {
      border-radius: 15px;
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff;
      position: relative;
      cursor: pointer;
      margin-bottom: 3%;
      .project-description {
        height: 100%;
        width: 100%;
        border-radius: 15px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
        transition: background-color 500ms ease;
        background-color: transparent;
        box-sizing: border-box;
        .hover {
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: opacity 350ms ease;
          padding: 1% 5% 1% 5%;
          display: flex;
          align-items: center;
          justify-content: center;
          .inner-hover {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
              color: #fff;
              transform: translate3d(0, 0px, 0);
              transition: transform 350ms ease;
              margin-bottom: 5%;
            }
            p {
              transform: translate3d(0, 0px, 0);
              transition: transform 350ms ease;
            }
          }
        }
      }
      .project-description:hover {
        background-color: rgba(0, 0, 0, 1);
      }
      .hover:hover {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
  .divider {
    margin: 2% 5%;
    border-top: 1px solid lightgrey;
  }
}
