.projects-container {
  margin-bottom: 40px;
  color: #fff;
  background: linear-gradient(#a4cacb 30%, #fff 70%);
  padding: 3%;
  h1 {
    margin-bottom: 20px;
  }
  .body-text {
    margin-bottom: 30px;
  }
  .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #000;
    .individual-project {
      width: 45%;
      h2 {
        margin-bottom: 2%;
        color: #fff;
      }
      img {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 2%;
      }
    }
  }
}
