.desktop-skills,
.mobile-skills {
  background: linear-gradient(#84cee2 30%, #fff 70%);
  text-align: center;
  color: white;
}

.desktop-skills {
  padding: 2% 15% 4%;
  .body-text {
    margin: 3% 3% 5%;
  }
  .skills-display {
    color: black;
    display: flex;
    justify-content: center;
    margin: 2%;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(207, 207, 207, 1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(207, 207, 207, 1);
    box-shadow: 1px 1px 5px 0px rgba(207, 207, 207, 1);
    .front-end,
    .back-end {
      border-right: 1px solid lightgrey;
    }
    .skill-topic {
      width: 50%;
      padding: 2% 5%;
      display: flex;
      flex-direction: column;
      .skill-title {
        margin-bottom: 15%;
      }
      .skill-description {
        margin-bottom: 15%;
        font-size: 12pt;
      }
      h4 {
        margin-bottom: 15%;
        font-size: 15pt;
        font-weight: 350;
      }
      .skill-list {
        list-style: none;
        margin-left: -40px;
        li {
          margin-bottom: 3%;
        }
      }
    }
    .icon {
      color: #84cee2;
      height: 60px;
      width: auto;
      margin-bottom: 15%;
    }
  }
  .divider {
    margin: 8% -8% 0%;
    border-top: 1px solid lightgrey;
  }
}
