.work {
  color: #fff;
  background: linear-gradient(#a4cacb 30%, #fff 70%);
  padding: 3%;
  h1 {
    margin-bottom: 20px;
  }
  .body-text {
    margin-bottom: 30px;
  }
  .job-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2%;
    color: #000;
    .outer-card {
      cursor: pointer;
      height: 100%;
      width: 40%;
      margin-bottom: 30px;
    }
    .inner-card {
      border: 1px solid#a4cacb;
      border-radius: 15px;
      padding: 2%;
      background-color: #fff;
      .card-title {
        margin: auto;
        width: 90%;
        .team-number {
          border-bottom: 1px solid #a4cacb;
          margin-top: 10px;
          padding-bottom: 10px;
        }
        .team-title {
          margin-top: 120px;
        }
      }
      .job-outline {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5%;
        ul {
          margin-left: -40px;
          list-style-type: none;
          li {
            margin-bottom: 10px;
          }
        }
      }
    }
    .team3 {
      .card-title {
        .team-title {
          margin-top: 100px;
        }
      }
    }
  }
  .icon {
    color: #a4cacb;
    height: 60px;
    width: auto;
    margin-top: 30px;
  }
}
