.work {
  height: 100%;
  margin-bottom: 2%;
  .work-main-title {
    text-align: center;
  }
  .work-subtitle {
    padding: 2% 15% 0;
  }
  .work-main-section {
    padding: 2% 10% 0;
    display: flex;
    flex-direction: column;
    .company-card {
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      margin: 1% 2%;
      color: black;
      background-color: white;
      padding: 2%;
      -webkit-box-shadow: -1px 1px 5px 0px rgba(220, 220, 220, 1);
      -moz-box-shadow: -1px 1px 5px 0px rgba(220, 220, 220, 1);
      box-shadow: -1px 1px 5px 0px rgba(220, 220, 220, 1);
      .job-outline {
        display: flex;
        flex-direction: column;
      }
    }
  }
}