@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  font-weight: 400 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 13pt;
  color: #141c3a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
}

h2 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300 !important;
}

a {
  color: #a4cacb !important;
  font-weight: bold;
}
